# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# Build outputs
android/
ios/
web-build/
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment files
.env
*.env.local
